/* Agrega estos estilos */
.sidebar {
  scrollbar-width: thin;
  scrollbar-color: #e2e8f0 #f8fafc;
}

.sidebar::-webkit-scrollbar {
  width: 8px;
}

.sidebar::-webkit-scrollbar-track {
  background: #f8fafc;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #e2e8f0;
  border-radius: 4px;
}

.rbc-event {
  transition: all 0.3s ease !important;
}
